<html>
	<head>
		<title>Restful Math Solver</title>
	</head>
	<body>
		<h2>Play with prime numbers..</h2>
		<fieldset>
		<form action="/math/isPrime" method="get">
		<input type="text" name="inputNumber" id="inputNumber"></input>
		<input type="submit" name="submit" value="Get some number < 1000"/>
	</body>
</html>